{% extends "blog/base.html" %}
{% block content %}
<h1>About Page</h1>
<h4>Hi! this is my first full developed page with the next features:</h4>
    <li>Users registration.</li>
    <li>Users can customize their own profiles uploading a pic.</li>
    <li>Users can request a Password Reset Link for their accounts. </li>
    <li>Users can publish new posts and update or delete those.</li>
    <li>Page pagination 
        (loads a few posts at time for not overcharge the syte charging all the posts at the same time).</li>

    Try to register a new account and post something!

{% endblock content %}
